[submodule "ntp"]
	path = ntp
	url = https://github.com/chef-cookbooks/ntp.git
[submodule "windows"]
	path = windows
	url = https://github.com/chef-cookbooks/windows.git
[submodule "chef_handler"]
	path = chef_handler
	url = https://github.com/chef-cookbooks/chef_handler.git
